<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>QR Code - D&F Joias</title>
</head>
<body style="text-align:center; font-family:sans-serif">
  <h1>Escaneie o QR Code abaixo</h1>
  <img src="<%= qrCode %>" alt="QR Code do WhatsApp">
</body>
</html>