
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>QR Code</title>
</head>
<body>
  <h2><%= message %></h2>
  <p>Abra o terminal para escanear o QR Code.</p>
</body>
</html>
